.Calendar {
    --cl-color-black: #ffffff;
    --cl-color-disabled: #ffffff;
    --cl-color-error: #ffffff;
    font-size: 10px;
    background: #0e0e0e;
    box-shadow: 0 1em 4em rgba(0, 0, 0, 0.07);
    border-radius: 1em;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    padding-top: 1.2em;
    display: flex;
    flex-direction: column;
    width: 33em;
    z-index: 10;
    max-width: 90vw;
    min-height: 36.7em;
}