 .pure-css-clock {
     position: relative;
     margin: auto;
     width: 120px;
     height: 120px;
     color: white;
 }
 
 .clock-dial {
     position: absolute;
     top: 0px;
     left: 0px;
     right: 0px;
     width: 100%;
     height: 100%;
     border-radius: 100%;
 }
 
 .quater-arc-outer {
     position: absolute;
     top: 2%;
     left: 2%;
     width: 96%;
     height: 96%;
 }
 
 .quater-arc-inner {
     position: absolute;
     top: -6%;
     left: -6%;
     width: 50%;
     height: 50%;
     overflow: hidden;
 }
 
 .quater-arc-circle {
     position: absolute;
     top: 10%;
     left: 10%;
     width: 200%;
     height: 200%;
     border: 5px solid #D7D7D7;
     border-radius: 100%;
 }
 
 .upper-right {
     transform: rotate(90deg);
 }
 
 .lower-right {
     transform: rotate(180deg);
 }
 
 .lower-left {
     transform: rotate(-90deg);
 }
 
 .num-12,
 .num-3,
 .num-6,
 .num-9 {
     position: absolute;
 }
 
 .num-12,
 .num-6 {
     width: 100%;
     text-align: center;
 }
 
 .num-12 {
     top: -2%;
 }
 
 .num-6 {
     bottom: -2%;
 }
 
 .num-horizontal {
     position: absolute;
     top: 47%;
     height: 10%;
     width: 100%;
     line-height: 10%;
 }
 
 .num-3,
 .num-9 {
     line-height: 100%;
 }
 
 .num-3 {
     right: 0%;
 }
 
 .num-9 {
     left: 0%;
 }
 
 .timer-pointer {
     position: relative;
     width: 100%;
     height: 100%;
     overflow: hidden;
     border-radius: 100%;
 }
 
 .hand-h-outer,
 .hand-m-outer {
     position: absolute;
     top: 0px;
     left: 0px;
     right: 0px;
     width: 100%;
     height: 100%;
     display: none;
 }
 
 .hand-h-inner,
 .hand-m-inner {
     position: absolute;
     left: 0px;
     right: 0px;
     margin: 0px auto;
     width: 5px;
     background: white;
 }
 
 .hand-h-inner {
     top: 32%;
     height: 14%;
     opacity: .6;
 }
 
 .hand-m-inner {
     top: 22%;
     height: 25%;
 }
 
 .disc {
     position: absolute;
     top: 0px;
     left: 0px;
     right: 0px;
     bottom: 0px;
     margin: auto;
     width: 20%;
     height: 20%;
     border-radius: 100%;
 }
 
 .clock-seconds,
 .seconds-unit,
 .seconds-unit-inner {
     position: absolute;
 }
 
 .clock-seconds,
 .seconds-unit {
     width: 100%;
     height: 100%;
 }
 
 .seconds-unit {
     opacity: .4;
 }
 
 .clock-seconds,
 .seconds-unit-inner {
     top: 0px;
     left: 0px;
     right: 0px;
     margin: auto;
 }
 
 .seconds-unit-inner {
     top: 8%;
     width: 1%;
     height: 5%;
     background: white;
 }
 
 .sec-pointer,
 .sec-pointer-inner {
     position: absolute;
     top: 0px;
     width: 100%;
     height: 100%;
 }
 
 .sec-pointer-inner {
     transform: rotate(90deg);
     display: none;
 }
 
 .triangle-outer {
     position: absolute;
     top: 47%;
     left: 14%;
     right: 0px;
     width: 6%;
     height: 6%;
     overflow: hidden;
 }
 
 .triangle-inner {
     position: absolute;
     top: -21.2%;
     left: 51.13%;
     width: 200%;
     height: 100%;
     background-color: white;
     mix-blend-mode: screen;
     transform: rotate(-30deg) skewX(30deg);
 }
 
 .alarm-clock,
 .stopwatch,
 .count-down {
     display: none;
 }